<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-204980691-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-204980691-1');
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="google-site-verification" content="7yyxqYBgFzzTPmX8ezHE0NgFnk2lOIN6vw7vA188wB8" />
	<meta name="ahrefs-site-verification" content="9aa78783d9fc71ee51b652ddd243acba17fe037f76399c0cb522174c53393fb2">
    <title><%= appName %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" CONTENT="ผลบอล ที่อัพเดทเรียลไทม์ LiveScore บอลสด ผลบอลวันนี้ ตารางบอลพรุ่งนี้ พร้อมวิเคราะห์บอล ทีเด็ดบอล UFATOP1.NET">
	<meta name="author" content="UFATOP1.NET">
	<meta name="keywords" content="ผลบอล แทงบอล LiveScore ตารางบอล">

    <!-- Mobile Specific Metas
	================================================== -->
	<meta name="robots" content="index, follow">
    <meta name="robots" content="max-snippet:20, max-image-preview:large">
    <meta name="googlebot" content="index, follow">
    <meta name="googlebot-news" content="snippet">
    <meta name="robots" content="ผลบอล แทงบอล,อัพเดทเรียลไทม์ LiveScore บอลสด ผลบอลวันนี้ ตารางบอลพรุ่งนี้ พร้อมวิเคราะห์บอล ทีเด็ดบอล Author: UFATOP1.NET" />
    <meta name="googlebot" content="ผลบอล แทงบอล,อัพเดทเรียลไทม์ LiveScore บอลสด ผลบอลวันนี้ ตารางบอลพรุ่งนี้ พร้อมวิเคราะห์บอล ทีเด็ดบอล Author: UFATOP1.NET" />
    <meta name="google" content="sitelinkssearchbox" />
    <meta name="google" content="translate" />
    <meta name="google" content="pagereadaloud" />
    <meta name="rating" content="5" />

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="https://ufatop1.net/assets/img/logo@2x.png">
	<link rel="apple-touch-icon" sizes="120x120" href="https://ufatop1.net/assets/img/logo@2x.png">
	<link rel="apple-touch-icon" sizes="152x152" href="https://ufatop1.net/assets/img/logo@2x.png">

	<meta property="og:url"                content="https://ufatop1.net" />
	<meta property="og:type"               content="article" />
	<meta property="og:title"              content="ผลบอล แทงบอล UFATOP1.NET" />
	<meta property="og:description"        content="ผลบอล ที่อัพเดทเรียลไทม์ LiveScore บอลสด ผลบอลวันนี้ ตารางบอลพรุ่งนี้ พร้อมวิเคราะห์บอล ทีเด็ดบอล Author: UFATOP1.NET" />
	<meta property="og:image"              content="https://ufatop1.net/assets/img/logo@2x.png" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@ufax24" />
	<meta name="twitter:creator" content="@ufax24" />
	<meta property="twitter:url" content="https://ufatop1.net" />
	<meta property="twitter:title" content="ผลบอล แทงบอล UFATOP1.NET" />
	<meta property="twitter:description" content="ผลบอล ที่อัพเดทเรียลไทม์ LiveScore บอลสด ผลบอลวันนี้ ตารางบอลพรุ่งนี้ พร้อมวิเคราะห์บอล ทีเด็ดบอล Author: UFATOP1.NET" />
	<meta property="twitter:image" content="https://ufatop1.net/assets/img/logo@2x.png" />
    <!-- Specific 
	================================================== -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <script src="js/script.js?v=<%= (new Date()).getTime() %>" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
        <%- include('../layouts/header') %>
    </header>
    <main class="container">
        <%- body %>
        <%- include('../layouts/modal') %>
    </main>
    <footer>
        <%- include('../layouts/footer') %>
    </footer>
</body>
</html>