<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <script src="js/script.js?v=<%= (new Date()).getTime() %>" defer></script>
    <title><%= appName %></title>
</head>
<body>
    <header>
        <%- include('../layouts/header') %>
    </header>
    <main class="container">
        <%- body %>
        <%- include('../layouts/modal') %>
    </main>
    <footer>
        <%- include('../layouts/footer') %>
    </footer>
</body>
</html>